<?xml version="1.0"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite 1" verbose="10" configfailurepolicy="continue">
  <!-- NOTE: testng parameters are not currently used in the test -->
  <parameter name="selenium.browser" value="firefox"/>
  <test name="Parse Search Result" preserve-order="true" parallel="false">
    <classes>
      <class name="com.github.sergueik.testng.ExcelProviderTest">
        <methods>
          <include name="test_with_Excel_2007"/>
          <include name="test_with_Excel_2003"/>
        </methods>
      </class>
      <class name="com.github.sergueik.testng.OpenOfficeProviderTest">
        <methods>
          <include name="test_with_OpenOffice_Spreadsheet_with_Method"/>
          <include name="testFilteredData"/>
          <include name="test_with_OpenOffice_Spreadsheet"/>
        </methods>
      </class>
      <class name="com.github.sergueik.testng.MiscProviderTest">
        <methods>
          <include name="testExplicit"/>
          <include name="testEllipsis"/>
        </methods>
      </class>
      <class name="com.github.sergueik.testng.JSONProviderTest">
        <methods>
          <include name="test_with_JSON"/>
          <include name="test_with_Static_JSON"/>
        </methods>
      </class>
    </classes>
  </test>
</suite>
